@import 'general.css';

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog * {
  margin: 5px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form * {
  margin: 5px 0;
}
