body {
  color: var(--foreground);
  background-color: var(--background);
}

a {
  color: var(--link-color);
}

:root {
  font-family: sans-serif;

  --foreground: #000;
  --background: #fff;
  --link-color: #0000ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #121212;
    --link-color: #00aaff;
  }
}
